<form action="submit" ng-submit="edit.postChangeEmp()">
  <div class="col-xs-6">
    <label>First Name</label>
    <input type="text" size="30" ng-model="edit.emp.fname" require>
    <label>Last Name</label>
    <input type="text" size="30" ng-model="edit.emp.lname" require>
    <label>Middle Name</label>
    <input type="text" size="30" ng-model="edit.emp.mname">
  </div>
  <div class="col-xs-6">
    <label>Age</label>
    <input type="text" size="30" ng-model="edit.emp.age" require>
    <label>Designation</label>
    <input type="text" size="30" ng-model="edit.emp.desig">
    <label>Salary</label>
    <input type="text" size="30" ng-model="edit.emp.salary">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>