<form action="submit" ng-submit="main.postNewEmp()">
  <h2>Add an Employee</h2>
  <div class="col-xs-6">
    <label>First Name</label>
    <input type="text" size="30" ng-model="main.empToAdd.firstName" require>
    <label>Last Name</label>
    <input type="text" size="30" ng-model="main.empToAdd.lastName" require>
    <label>Middle Name</label>
    <input type="text" size="30" ng-model="main.empToAdd.middleName">
  </div>
  <div class="col-xs-6">
    <label>Age</label>
    <input type="text" size="30" ng-model="main.empToAdd.age" require>
    <label>Designation</label>
    <input type="text" size="30" ng-model="main.empToAdd.designation">
    <label>Salary</label>
    <input type="text" size="30" ng-model="main.empToAdd.salary">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>