<div class="container">
  <main>
    <table class="table table-bordered table-hover">
      <thead>
        <h1>Employee List</h1>
      </thead>
      <tbody>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Middle Name</th>
          <th>Age</th>
          <th>Designation</th>
          <th>Salary</th>
        </tr>
        <tr ng-repeat="employee in main.empList">
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.middleName }}</td>
          <td>{{ employee.age }}</td>
          <td>{{ employee.designation }}</td>
          <td>{{ employee.salary }}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-success" ui-sref="main.add">Add</button>
      <button class="btn btn-warning" ui-sref="main.edit">Edit</button>
      <button class="btn btn-danger" ng-click="">Delete</button>
    </div>
    <br>
    <div ui-view></div>
  </main>
</div>
