<form action="submit" ng-submit="add.postNewEmp()">
  <div class="col-xs-6">
    <label>First Name</label>
    <input type="text" size="30" ng-model="add.emp.firstName" require>
    <label>Last Name</label>
    <input type="text" size="30" ng-model="add.emp.lastName" require>
    <label>Middle Name</label>
    <input type="text" size="30" ng-model="add.emp.middleName">
  </div>
  <div class="col-xs-6">
    <label>Age</label>
    <input type="text" size="30" ng-model="add.emp.age" require>
    <label>Designation</label>
    <input type="text" size="30" ng-model="add.emp.designation">
    <label>Salary</label>
    <input type="text" size="30" ng-model="add.emp.salary">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>